#dt-search-0 {
    width: 350px;
}
#dt-search-1 {
    width: 350px;
}
#dt-search-2 {
    width: 350px;
}
#dt-search-3 {
    width: 350px;
}
#dt-search-4 {
    width: 350px;
}
#dt-search-5 {
    width: 350px;
}
.kemkes-color1{
    background-color: #40E0D0;
}
.kemkes-color2{
    background-color: #b4fbd4;
    /* #F0FFF0; */
}